<ion-view view-title="Login">
    <ion-content padding>
        <form>
            <div class="list">
                <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="data.email">
            </label>
                <label class="item item-input item-floating-label">
                <span class="input-label">Senha</span>
                <input type="text" placeholder="Senha" ng-model="data.password">
            </label>
        </form>
        </div>
        <button class="button button-block button-balanced" ng-click="login()">
        Enviar
        </button>
    </ion-content>
</ion-view>